@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Bad+Script&family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oooh+Baby&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

*{margin: 0;
padding:0;
box-sizing:border-box; }


body {
	margin: 0;
	height: 100%;
	font-family: "Inter" sans-serif;
	background-image: url(https://img.freepik.com/fotos-premium/hermoso-inodoro-verdoso-cocina-bano-primer-plano-azulejos-cuadrados-lisos-textura-verde-claro-pared-piso-techo-cerca-copyspace-azulejo-revestimiento-verde-liso-facil-pared-edificio_102332-1732.jpg);
	background-repeat: repeat;

}


header {
	background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Far.pinterest.com%2Fpin%2F423831014943725656%2F&psig=AOvVaw2Zto7GPnxn5-EA7f6nSuji&ust=1749754356557000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNCVoImF6o0DFQAAAAAdAAAAABAE);
	padding: 10px;
	text-align: center;
}

header img {
	width: 200px;
}

nav {
	background-color: #6ab04c;
	padding: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	margin-left: 15px;
}

nav a {
	color: #f6e58d;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
}

main {
	padding: 15px;
}

.caja-blanca {
	background-color: #f6e58d;
	border-radius: 10px;
	width: 80%;
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	padding: 20px;
}

.titulo {
	color: green;
	
}

h3 {
	color: black;

}

ul, ol {
	padding-left: 20px;
}

.centrado {
	text-align: center;
}

.footer-contenedor {
  width: 100%;
  overflow: hidden; 
  background-color: #f6e58d;
  padding: 10px;
}

.footer-logo {
  float: left;
  width: 70px;
}

.footer-texto {
  float: right;
  font-weight: bold;
  margin-top: 25px; 
  margin-right: 10px;
  color: black;
}
.imagen-cocinera {
  width: 100%;
  border-radius: 15px;
  margin-top: 20px;
}
